envs
__pycache__
static/assets/imgs/arch 


/arpan/static/assets/imgs/background
/arpan/static/assets/imgs/brands
/arpan/static/assets/imgs/team
/arpan/static/assets/imgs/freelancer
/arpan/static/assets/imgs/testim
# navbarbackup-base-iclude.html