{% load static %}
<footer class="pt-80">
    <div class="container pb-80">
        <div class="row">
            <div class="col-lg-3">
                <div class="colum md-mb50">
                    <div class="tit mb-20">
                        <h6>Address</h6>
                    </div>
                    <div class="text">
                        <p>Kolkata, West Bengal, India</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="colum md-mb50">
                    <div class="tit mb-20">
                        <h6>Say Hello</h6>
                    </div>
                    <div class="text">
                        <p class="mb-10">
                            <a href="#0">arpanbera1212@gmail.com</a>
                        </p>
                        <h5>
                            <a href="https://wa.me/8967442189">+91-8967442189</a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 md-mb50">
                <div class="tit mb-20">
                    <h6>Social</h6>
                </div>
                <ul class="rest social-text">
                    <li>
                        <a href="#0">Github</a>
                    </li>
                    <li>
                        <a href="#0">LinkedIn</a>
                    </li>
                    <li>
                        <a href="#0">Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="tit mb-20">
                    <h6>Newsletter</h6>
                </div>
                <div class="subscribe">
                    <form action="">
                        <div class="form-group rest">
                            <input type="email" placeholder="Type Your Email">
                            <button type="submit">
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer pt-40 pb-40 bord-thin-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="#0">
                            <img src="assets/imgs/logo-light.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="copyright d-flex">
                        <div class="ml-auto">
                            <p class="fz-13">© 2024 All Right Reserved - <span
                                class="underline"><a href="{% url 'Index' %}"> Made By Arpan</a> ❤</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- ==================== End Footer ==================== -->







<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-migrate-3.4.0.min.js' %}"></script>

<!-- plugins -->
<script src="{% static 'assets/js/plugins.js' %}"></script>

<script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>

<!-- custom scripts -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/comments-reply.js' %}"></script>

</body>

</html>